* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #34495e;
    background: #7f8c8d;
    /*
    background-image: url(/img/green_cup.png);
    background-repeat:repeat; */
}

.selectFolder {
    width:100%;
    height:100%;
    position:absolute;
    vertical-align:middle;
    align:center;
}


.myButton {
    background-color:#95a5a6;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    border:1px solid #95a5a6;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:16px 31px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:22%;
    margin-bottom:0%;
}
.myButton:hover {
    background-color:transparent;
}
.myButton:active {
    position:relative;
    top:1px;
}

.spinner {
    display: none;
    margin: 100px auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #e4685d;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.header {
    width:800px;
    float: none;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0px auto;
    text-align: center;
}
.header h1 {
    padding-top: 50px;
    font-size: 50px;
    font-family: 'Piedra', cursive;
}
.header p{
    text-align: left;
    padding-top: 10px;
    margin: 0 auto;
    width: 600px;
}
a {
    text-decoration: none;
}

.tabs {
    width:800px;
    height: 600px;
    background:#95a5a6;
    float: none;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0px auto;
    margin-top: 50px;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.15), inset 0 0 1px rgba(0,0,0,.1);
    border-radius: 5px;
}
.tabs li{
    float: right;
}
.tabs label {
    display: block;
    padding: 10px 20px;
    border-radius: 2px 2px 0 0;
    color: #e4685d;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Exo 2',"Helvetica Neue", Helvetica, Arial, sans-serif;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.tabs label:hover {
    background: rgba(255,255,255,0.5);
    top: 0;
}

[id^=tab]:checked + label {
    background: #e4685d;
    color: white;
    top: 0;
}

[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}
.tab-content{
    z-index: 2;
    display: none;
    text-align: left;
    width: 100%;
    font-size: 20px;
    font-family: 'Exo 2',"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
#detailInfo{
    margin-left: 20px;
    font-size: 16px;
}

#download {
    width:800px;
    height: 300px;
    float: none;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0px auto;
    margin-top: 100px;
}
.downloaddiv{
    width: 33%;
    float: left;
}
#linux {
    background-image: url(../img/linux.png);
    background-repeat: no-repeat;
    background-position:10% 50%;
    padding-left: 40px;
}
#windows {
    background-image: url(../img/windows.png);
    background-repeat: no-repeat;
    background-position:10% 50%;
    padding-left: 50px;
}
#mac {
    background-image: url(../img/mac.png);
    background-repeat: no-repeat;
    background-position:10% 50%;
    padding-left: 40px;
}

#tooltip {
    position: absolute;
    width: 150px;
    height: auto;
    padding: 10px;
    background-color: #e4685d;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    font-size: 16px;
    text-align: center;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #95a5a6;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

rect {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.5s;
    cursor:pointer;
}

#chart1 {
  position: relative;
}

#chart1 path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 240px;
  left: 290px;
  width: 180px;
  text-align: center;
  color: #666;
  z-index: 1;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}